
.root { -fx-focus-color: transparent; }
#battle-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: DarkCyan;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


#bottom-text {
   -fx-font-size: 22px;
   -fx-font-family: "Arial Black";
   -fx-fill: DarkCyan;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


#enemy-top-text {
   -fx-font-size: 16px;
   -fx-font-family: "Arial Black";
   -fx-fill: firebrick;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#user-top-text {
   -fx-font-size: 16px;
   -fx-font-family: "Arial Black";
   -fx-fill: DarkCyan;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

 .button {
    -fx-pref-width: 30px;
    
}
 
#hit {
	-fx-pref-width: 80px; 
	-fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.menu-bar {
	 
	 -fx-background-color: DarkCyan;
	 -fx-background-color: linear-gradient(#61a2b1, #2A5058);
 	
}

.menu-bar .label {
	-fx-text-fill: white;
	-fx-font-size: 14px;
	-fx-font-family: "Arial";
	}
	
	
	
	
	.menu-item .label{
    
    -fx-text-fill: black;
    -fx-background: DarkCyan;
}











